
.Logo7777{
    display: block;
    width: 300px;
    height: 300px;
    margin: 4% auto 0 auto;
    padding-top: 2%;
}
.informacion {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 4%;
    width: 80%;
    height: 65vh;
    margin: 5% auto;
    border-radius: 20px;
    box-shadow: 0 0 30px #000000;
    font-size: 0.6em;
    line-height: 1.6;
    padding-top:0;
    overflow-y:auto;
}
.informacion::-webkit-scrollbar {
  width: 6px;
}

.informacion::-webkit-scrollbar-thumb {
  background-color: #C6A664;
  border-radius: 10px;
}
.informacion h2 {
    color: #c6a664;
    font-size: 1.3em;
    margin-top: 1.5em;
}

.informacion p, .informacion ul {
    margin: 0;
}

.informacion ul {
    padding-left: 1.5em;
    list-style-type: disc;
}
