
body {
  background-image: url('/public/FONDO2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-size: 32px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.head {
  display: flex;
  align-items: center;
  background: #2c2c2c;
  box-shadow: 0px 0px 30px #000000;
  height: 5em;
  width: 100%;
  margin: 0;
  color: #c6a664;
  font-size: 0.6em;
}
h1 {
  text-align: left;
  padding-left: 1%;
  font-size: 2.5em;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  padding-right: 2em;
  flex-grow: 1;
}

.options {
  text-align: center;
  padding: 0.5em 1.5em;
  border-radius: 50px;
  font-size: 0.8em;
  background: #c6a664;
  color: #121212;
  font-family: Montserrat;
  font-weight: 600;
  border: none;
  box-shadow: 0px 0px 30px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
}

.options:hover {
  box-shadow: none;
  background: #0d273d;
  cursor: pointer;
}

.icon-button {
  width: 2.5em;
  height: 2.5em;
  padding: 0;
}

.Logo {
  width: 24%;
  height: 18%;
}
.bienvenida {
  text-align: center;
  color: #c6a664;
  font-family: Montserrat;
}
.eslogan {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  margin-top: -2%;
  margin-bottom: -1%;
  font-weight: bold;
  color: #2f4156;
}
.sesion {
  font-family: 'Montserrat', sans-serif;
  margin-top: 3%;
  padding: 0.5% 2%;
  border-radius: 30px;
  font-size: 0.8em;
  background: #2c2c2c;
  color: #ffffff;
}
.sesion:hover {
  background: #000000;
  cursor: pointer;
}
.text777 {
  margin-top: 0.5%;
  font-size: 0.9em;
  color: #121212;
}
a {
  font-weight: bold;
  text-decoration: underline;
  color: #c6a664;
}
a:hover {
  color: #c6a664;
  cursor: pointer;
}
.redes {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 22%;
  height: 1.5em; 
  background-color: #2c2c2c;
  color: #ffffff;
  font-family: Montserrat;
  text-align: center;
  border-radius: 25px 25px 0 0; 
  overflow: hidden;
  transition: height 0.5s ease;
  cursor: pointer;
}
.redes:hover {
  height: 3.5em;
}
.redes_text {
  padding-top: 0.5em;
  margin: 0;
  font-size: 0.7em;
}
.botones_redes {
  opacity: 0;
  margin-top: 0;
  transition: opacity 0.5s ease;
}
.botones {
  width: 70px;
  height: 70px;
  margin: 7px 4px;
  background: none;
  border: none;
}
.botones img {
  width: 100%;
  height: auto;
}
.botones:hover {
  background: #c6a664;
  cursor: pointer;
}
.redes:hover .botones_redes {
  opacity: 1;
}
.pagina-inicio {
  min-height: 100vh;
  width: 100%;
  background-image: url("/Fondo.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
