.Logo7 {
    display: block;
    width: 130px;
    height: 130px;
    margin: 4% auto 0 auto;
    padding-top: 2%;
}

.privacidad {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 4%;
    width: 80%;
    height: 65vh;
    margin: 5% auto;
    border-radius: 20px;
    box-shadow: 0 0 30px #000000;
    font-size: 0.6em;
    line-height: 1.6;
    padding-top: 0;
    overflow-y: auto;
}

.privacidad::-webkit-scrollbar {
    width: 6px;
}

.privacidad::-webkit-scrollbar-thumb {
    background-color: #C6A664;
    border-radius: 10px;
}

.privacidad h2 {
    color: #c6a664;
    font-size: 1.3em;
    margin-top: 1.5em;
    text-align: center;
}

.privacidad h3 {
    color: #c6a664;
    font-size: 1.1em;
    margin-top: 1.2em;
}

.privacidad p, .privacidad ul {
    margin: 0.8em 0;
}

.privacidad ul {
    padding-left: 1.5em;
    list-style-type: disc;
}

.privacidad li {
    margin-bottom: 0.5em;
}
.cont {
  position: relative; /* necesario para que el botón se posicione dentro */
}

.btn-volver {
  position: relative;

  background: transparent;
  border: none;
  font-size: 40px;
  color: #c6a664;
  cursor: pointer;

  transition: color 0.3s ease;
}

.btn-volver:hover {
  color: #fff;
}

